.bg-gradient-color-opc-90 {
    background: linear-gradient(90deg, rgba(51, 131, 130, 0.9) 0%, rgba(85, 180, 165, 0.9) 100%);
}

.bg-gradient-color-opc-80 {
    background:  linear-gradient(90deg, rgba(51, 131, 130, 0.9) 0%, rgba(85, 180, 165, 0.9) 100%);
}

.bg-gradient-color {
    background: linear-gradient(90deg, rgba(51, 131, 130, 0.9) 0%, rgba(85, 180, 165, 0.9) 100%);
}

.main-bg-color {
    background-color: $main-color;
}

.main-dark-bg-color {
    background-color: $main-color;
}

.country-card-bg-color {
    background-color: #3383820D;
}

